# Python
venv/
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/

# Env
.env
.env.*

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store
Thumbs.db

tests/load_tests/
tests/load_tests/results/
backend/tests/load_tests/results/
backend/tests/load_tests/wa_locustfile.py
backend/tests/load_tests/wa_test_data.py